* {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

.card {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    border: solid 2px darkgrey;
    border-radius: 15px;
    width: 100%;
    background-color: white;
}

.card:hover {
    cursor: pointer;
}


 img {
    border-radius: 50%;
    margin-top: 5%;
} 

.img, .info, .info h1, .info p{
    background-color: white;
}

/* Modal */
body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
    }

    .modal-close {
        position: absolute;
        right: 15px;
        top: 5px;
        cursor: pointer;
    }

    .hidden {
        display: none;
    }
    

  /* Media Queries */


@media (min-width: 910px) {
    .container {
        display: inline-grid;
        grid-template-columns: auto auto;
        width: 100%;
    }

    .row {
        display: flex;
    }

    .card {
        width: 75%;
        margin: auto;
        margin-top: 50px;
        padding: 15px;
    }
}

@media(min-width: 1330px) {
    .container {
        grid-template-columns: auto auto auto;
    }

    .card {
        padding: 30px;
    }
}