.card {
    position: relative;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30rem;
}

.card:hover {
    cursor: pointer;
}


@media (max-width: 650px) {
    .card {
        width: 24rem;
    }
}

