* {
    font-family: 'Merriweather';
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0;
}

.description {
    text-align: center;
    font-family: 'Merriweather';
    border-bottom: solid 5px black; 
}

form {
    margin-top: 5px;
    border-top: solid 2px black;
    padding-bottom: 20px;
    border-bottom: solid 5px lightgray;
}

fieldset {
    border: none;
}

label {
    margin-left: 10px;
}

input {
    background-color: rgb(235, 232, 232);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

input:focus {
    transition: background-color 1s ease;
    background-color: white;
}

select {
    background-color: rgb(235,232, 232);
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

.select-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

.flex-container-select {
    display: flex;
    padding-left: 0;
}

.flex-container-select input {
    order: -1;
    width: 25.11px;
}

.flex-container-select label {
    width: 100%;
}

.radio-menu {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.flex-container-radio {
    display: flex;
    justify-content: flex-start;
}

.flex-container-radio input {
    order: -1;
    width: 25.11px;
}

 

.flex-container {
    margin: 15px;
}


.second-form {
    border: none;
}

.select-menu {
    display: flex;
    flex-direction: column;
}

.flex-zip-code {
    width: 50%;
}



#other {
    width: 100%;
    height: 100px;
    background-color: rgb(235, 232, 232);
}

#other:focus {
    background-color: white;
}



button[type="submit"] {
    background-color: rgb(57, 192, 181);
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 20px;
    margin: auto;
    color: lightgray;
}


@media (min-width: 768px) {

    form, .description {
        width: 50%;
        margin: auto;
    }

    footer {
        width: 100%;
        margin: auto;
    }

    .flex-container {
        display: flex;
    }
    
    .flex-container input {
        margin-left: auto;
        width: 75%;
    }

    .flex-container select {
        margin-left: auto;
        width: 78%;
    }

    .flex-container label {
        align-self: center;
    }

    .flex-zip-code input {
        margin-left: 30%;
    }
}